{% extends "base.html.twig" %}

{% block title%} {{parent()}} Where is my Horse {% endblock %}

{% block body %}

<h1> Horseshop: your monopoly-busting options for horses </h1>
<div>
Browse through {{numberofHorses=numberofHorses}} Horses!
{%if numberofHorses > 400%}

<p>
Many Horses
</p>

{%endif%}


{%if numberofHorses < 400%}

<p>
Few Horses
</p>

{%endif%}

</div>

<div>
    <h2>My Horse</h2>

    <tabel>
        <tr>
            <th>Nume: </th>
            <td>{{ myhorse.name }}</td>
        </tr> <br>
        <tr>
            <th>Class: </th>
            <td>{{ myhorse.class }}</td>
        </tr> <br>
        <tr>
            <th>Status: </th>
            <td>{{ myhorse.status }}</td>
        </tr> <br>
    </tabel>
</div>

<div style="width: 100%; text-align: center; margin-top: 50px;">

<a href="{{ path('app_join_game') }}" 
   style="display: inline-block; 
          padding: 50px 100px; 
          background-color: #28a749; 
          color: white; 
          text-decoration: none; 
          border-radius: 7px; 
          font-weight: bold;">
INTRA IN HERGHELIE!!!
</a>

{% endblock %}

